.container {
  width: 100%;
  color: #fff;
}

.row {
  width: 1440px;
  margin: 0 auto;
}

.bg-head {
  height: 700px;
  background-image: url("../images/Background.png");
}

.header {
  &__top {
    padding: 40px 291px 0 248px;
    @extend %flex-between;
  }
  &__logo {
    padding-top: 5px;
  }
  &__motto {
    @include WH(470px, 126px);
    @include fontMonBold(52px, 63px);
    margin: auto;
    margin-top: 148px;
    text-align: center;
  }
  &__motto-small {
    @include fontRoboto(24px, 24px);
    margin-top: 28px;
    text-align: center;
    color: #f7f3f2;
  }
}

.logo {
  color: #fff;
  text-decoration: none;
  &__name {
    @include fontMonBold(20px, 24px);
  }
}

.btn {
  @include WH(90px, 36px);
  @include fontStyle($fontMontserrat, 400, 14px, 17px);
  padding-top: 3px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
}

.btn-danger {
  @include fontMonBold(14px, 14px);
  @include WH(225px, 40px);
  display: block;
  margin: auto;
  margin-top: 34px;
  padding-top: 3px;
  background: $bgRed;
  color: #fff;
  border-radius: 40px;
  border: none;
}

.border--none {
  width: 75px;
  border: none;
}

.dream {
  @extend %page;
  padding-top: 89px;
  &__cards {
    @extend %flex-between;
    margin: 0 auto;
    padding-top: 34px;
  }
}

.title-section {
  @include fontMonBold(26px, 32px);
  color: $colorTex;
  text-align: center;
}

.card {
  @include WH(300px, 400px);
  display: flex;
  align-items: flex-end;
  &__step {
    padding: 22px 25px;
  }
  &__slogan {
    padding: 0 25px;
  }
  &__text {
    padding: 19px 25px;
  }
}

.bg-1 {
  background-image: url("../images/Step\ 1\ image.png");
}
.bg-2 {
  background-image: url("../images/Step\ 2\ image.png");
}
.bg-3 {
  background-image: url("../images/Step\ 3\ image.png");
}

.btn-card {
  @include fontStyle($fontMontserrat, 400, 10px, 10px);
  @include WH(70px, 20px);
  padding: 6px 0 3px 0;
  background: $bgRed;
  color: #fff;
  border-radius: 40px;
  letter-spacing: 2px;
  border: none;
}

.slogan {
  @include fontMonBold(24px, 26px);
  color: #fff;
}

.p--slogan {
  padding-bottom: 7px;
}

.text {
  @include fontRoboto(14px, 14px);
  color: #e3e3e3;
}

.partner {
  @extend %page;
  &__users {
    @extend %flex-between;
    margin: 0 auto;
    padding-top: 35px;
    flex-wrap: wrap;
  }
  &__btn {
    width: 180px;
    margin: 0 auto;
    margin-top: 55px;
  }
}

.user {
  @include WH(220px, 205px);
  position: relative;
  text-align: center;
  &__name {
    padding-top: 16px;
  }
  &__text {
    padding-top: 22px;
  }
}

.text--pos1,
.text--pos2 {
  padding-top: 27px;
}

.ava--icon {
  &::before {
    @include WH(32px, 32px);
    content: "";
    position: absolute;
    bottom: 85px;
    right: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
  &:nth-of-type(1)::before {
    background-color: $bgRed;
    background-image: url("../images/icon1.png");
  }
  &:nth-of-type(2)::before {
    background-color: #19d4ca;
    background-image: url("../images/icon2.png");
  }
  &:nth-of-type(3)::before {
    background-color: #ffa710;
    background-image: url("../images/icon3.png");
  }
  &:nth-of-type(4)::before {
    background-color: #667df3;
    background-image: url("../images/icon4.png");
  }
}

.ava {
  border-radius: 50%;
}

.name{
  @include fontMonBold(14px, 17px);
  color: $colorTex;
}

.text-user {
  @include fontRoboto(14px, 14px);
  color: $colorText3;
}

.btn-border-danger {
  @include WH(180px, 40px);
  @include fontMonBold(14px, 17px);
  padding: 11px 16px 11px 22px;
  background-color: #fff;
  border: 2px solid $bgRed;
  border-radius: 40px;
  color: $bgRed;
}

.holiday {
  @extend %page;
  &__images {
    @extend %flex-between;
    margin: 0 auto;
    padding-top: 35px;
    flex-wrap: wrap;
  }
}

.picture {
  @include WH(300px, 310px);
  position: relative;
  border-radius: 4px;
  &:nth-of-type(1) {
    background-image: url("../images/sport.png");
  }
  &:nth-of-type(2) {
    background-image: url("../images/wellness.png");
  }
  &:nth-of-type(3) {
    background-image: url("../images/extreme.png");
  }
  &:nth-of-type(4) {
    background-image: url("../images/game.png");
  }
  &:nth-of-type(5) {
    background-image: url("../images/culture.png");
    width: 620px;
  }
  &:nth-of-type(6) {
    background-image: url("../images/relax.png");
    width: 620px;
  }
  &:nth-of-type(7) {
    background-image: url("../images/trewel.png");
  }
}

.caption {
  @include fontMonBold(22px, 27px);
  color: #fff;
}

.shadow {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  &__caption {
    height: 100%;
    @extend %flex-center;
  }
}

.w--50 {
  width: 187px;
  text-align: center;
}

.m--pic {
  margin-top: 20px;
}

.crate {
  width: 482px;
  margin: 0 auto;
  padding-top: 88px;

  &__search {
    margin: 0 auto;
    padding-top: 53px;
  }
}

.text-search {
  @include fontRoboto(18px, 14px);
  color: $colorText3;
  text-align: center;
}

.input {
  @include fontRoboto(14px, 16px);
  @include WH(297px, 40px);
  padding: 14px 0 10px 13px;
  color: $colorText2;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  box-sizing: border-box;
}

.btn-search {
  width: 172.12px;
  margin: 0;
  display: inline;
}

.search {
  @extend %flex-between;
  margin-top: 25px;
}

.footer-content {
  margin-top: 100px;
  padding: 37px 244px 30px 249px;
  border-top: 2px solid $bgRed;
  @extend %flex-between;
  &__links {
    padding-left: 2px;
    padding-top: 2px;
  }
  &__partners {
    padding-right: 112px;
    padding-top: 2px;
  }
}

.footer-logo {
  @include WH(119px, 20px);
  @include fontStyle($fontMontserrat, 400, 16px, 20px);
  color: $bgRed;
}

.list-title {
  @include WH(119px, 20px);
  @include fontMonBold(14px, 17px);
  color: $colorTex;
}

.list {
  padding-top: 8px;
}

.item {
  @include fontRoboto(14px, 26px);
  color: $colorText2;
}

.logo-development {
  width: 116px;
  padding-top: 2px;
  &__text {
    @include fontMonBold(10px, 12px);
    width: 114px;
    margin: 0;
    padding-bottom: 6px;
    color: #cccccc;
    letter-spacing: 1px;
    text-align: right;
  }
}
