@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('./fonts/montserrat/static/Montserrat-Bold.ttf');
}

